<%= render :partial => 'home/base' %>
<% content_for :title do %>
 Hello Kiwi
<% end %>

<% content_for :subtitle do %>
  Kiwi Backend Home
<% end %>

<div id="app_root">
</div>


<script>
	window.Router = com.tgalal.backbonents.routers.DemoRouter
</script>
